*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Header Section Start*/
.header-bg{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 0px 10%;
}
.header-content{
    width: 40%;
    margin-top: 50px;
}
.header-content h2{
    font-size: 30px;
}
.header-content h1{
    font-size: 50px;
    color: #EC4C7A;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
}
.header-content p{
    line-height: 28px;
    text-align: justify;
    margin-bottom: 20px;
}
.header-content a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #EC4C7A;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}
.header-image{
    width: 40%;
    margin-top: 50px;
}
.header-image img{
    width: 100%;
}
/*Header Section End*/

/*Biography Section Start*/
.biography-bg{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100vh; 
}
.biography-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 0px 10%;
}
.biography-image{
    width: 40%;
}
.biography-image img{
    width: 100%;
    margin-top: 50px;
}
.biography-content{
    width: 40%;
    margin-top: 50px;
}
.biography-content h1{
    font-size: 50px;
    color: #EC4C7A;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
}
.biography-content p{
    line-height: 28px;
    text-align: justify;
    margin-bottom: 20px;
}
.biography-content a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #EC4C7A;
    border-radius: 5px;
    color: white;
}
/*Biography Section End*/

/*Latest Work Section Start*/
.latest-work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 0px 10%;
}
.latest-work .image img{
    width: 350px;
    padding: 10px;
    border: 1px solid #EC4C7A;
}
/*Latest Work Section End*/

/*Footer Area Section Start*/
.footer-bg{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.footer-content{
    text-align: center;
}
.footer-content h1{
    margin:100px 0px 60px 0px;
}
.email-box{
    margin: auto;
    background-color: #EC4C7A;
    width: 600px;
    border-radius: 10px;
    padding: 20px;
}
.copyright{
    text-align: center;
    color: gray;
}
/*Footer Area Section End*/

/*Mobile Responsive*/
@media screen and (max-width: 800px) {
    .header-bg{
        height: auto;
    }
   .header-container{
    flex-direction: column-reverse;
    margin-bottom: 20px;
   }
   .header-content, .header-image{
    width: 100%;
   }
   .biography-bg{
    height: auto;
   }
   .biography-container{
    display: block;
   }
   .biography-image, .biography-content{
    width: 100%;
   }
   .latest-work{
    flex-direction: column;
   }
   .email-box{
    width: auto;
   }
}
